:root {
    font-family: "Palatino Linotype";
    color: black;
    
}

.header-nav {
    background: #F5F5F5;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.header-nav a {
    text-decoration: none;
    color: #0072FF;
    font-weight: 500;
}

.header-nav li {
    list-style: none;
    align-items: right;
}

.header-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.header-nav li a:hover {
    color: #0072FF;
}

.header-nav a:hover {
    color: black;
}

.section-header {
    text-decoration: underline;
    text-decoration-color: #0072FF;
}