.mb-md {
  margin-bottom: 5rem !important;
}

.mb-lg {
  margin-bottom: 10rem !important;
}

.pb-lg {
  padding-bottom: 10rem !important;
}

.mt-md {
  margin-top: 5rem !important;
}

.mt-lg {
  margin-top: 10rem !important;
}
.pt-lg {
  padding-top: 10rem !important;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba($color-light, 0.75) !important;
}

.active-nav {
  font-weight: $font-bold !important;
  text-decoration: underline !important;
}

.icon {
  &:hover {
    fill: $color-primary;
  }
}

.lazy-img {
  filter: blur(2rem);
}

.rotate-180 {
  transform: rotate(180deg);
}
