@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');

// COLORS
$color-dark: #333;
$color-medium: #777;
$color-light: #ebebeb;
$color-white: #fff;
$color-primary: #0072ff;
$color-secondary: #edf5ff;
$color-tertiary: #898eba;

// FONT TYPES AND WEIGHTS
$font-primary: 'Montserrat', sans-serif;
$font-article: 'Georgia', sans-serif;
$font-bold: 600;
$font-regular: 400;
$font-light: 200;
$font-thin: 100;

// FONT SIZES
$title-size: 3.4rem;

// TRANSITION TIMES
$transition-slow: 0.5s;
$transition-medium: 0.3s;
$transition-fast: 0.1s;

// ICON SIZES
$icon-xl-size: 8rem;
$icon-large-size: 6rem;
$icon-medium-size: 4rem;
$icon-small-size: 2rem;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  color: $color-dark;
  font-weight: $font-regular;
  line-height: 1.6;
}
