.section-title {
  text-transform: uppercase;
  font-size: $title-size;
  font-weight: $font-light;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}

// FEATURED PROJECTS CARD
.project {
  &__card:hover &__name {
    transition: all 0.5s;
    color: $color-primary;
  }

  &__card:hover &__icon--title {
    transition: all 0.5s;
    fill: $color-primary;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 35rem;
    padding: 1rem 1rem 4rem 1rem;
    border-radius: 1rem;

    &:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 1rem 0.5rem rgba($color-dark, 0.2);
      transition: all 0.2s;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: $font-light;
    @include removeLinkDecoration;
  }

  &__img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    padding: 1rem;
    margin-top: -2rem;
  }

  &__icon--title {
    @include iconSmall;
    fill: $color-dark;
  }

  &__summary {
    font-size: 1.8rem;
    text-align: center;
    @include removeLinkDecoration;
  }

  &__name {
    font-size: 3rem;
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
  }

  &__link {
    @include removeLinkDecoration;
    display: flex;
    gap: 0.8rem;
  }

  &__icon {
    @include iconSmall;
    fill: $color-dark;
  }

  &__icon-caption {
    @include removeLinkDecoration;
    font-size: 1.8rem;
    font-weight: $font-regular;
  }
}

// ARTICLE CARD
.article {
  &__card:hover &__name {
    transition: all 0.5s;
    color: $color-primary;
  }

  &__card:hover &__icon {
    transition: all 0.5s;
    fill: $color-primary;
  }

  &__card {
    @include removeLinkDecoration;
    display: flex;
    align-items: flex-start;
    height: 25rem;
    width: 60rem;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: $font-light;
  }

  &__name {
    font-size: 3rem;
  }

  &__icon {
    @include iconSmall;
    fill: $color-dark;
  }

  &__summary {
    padding-left: 1.5rem;
  }

  &__point {
    font-size: 1.8rem;
    font-weight: $font-regular;
    display: list-item;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__img {
    width: 20rem;
    height: 20rem;
    padding: 1.5rem;
    object-fit: cover;
  }
}

// SKILL GRID (just the 4 icons and their caption)
.skill-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }

  &__name {
    font-size: 2.4rem;
    color: $color-white;
  }

  &__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 15rem;
    height: 15rem;
  }

  &__icon {
    @include iconLarge;
    fill: $color-white;
  }

  &__caption {
    color: $color-white;
    font-size: 1.8rem;
    text-align: center;
    font-weight: $font-bold;
  }
}

.card-divider {
  align-self: center;
  width: 0px;
  height: 30rem;
  border-right: solid 0.1rem $color-dark;

  &--white {
    border-right: solid 0.1rem $color-white;
  }
}
