.title {
  text-transform: uppercase;
  font-size: 3.4rem;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-align: center;
}

.m-bot-md {
  margin-bottom: 5rem;
}

.m-top-lg {
  margin-top: 10rem !important;
}

.p-top-lg {
  padding-top: 10rem !important;
}

.card-divider {
  width: 0px;
  height: 30rem;
  border-right: solid 1px $color-dark;

  &--white {
    border-right: solid 1px $color-white;
  }
}
