.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3rem;
  background-color: $color-tertiary;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 50%;
  }

  &__line {
    height: 0;
    width: 10%;
    border-top: solid 0.1rem $color-white;

    @include respond(phone) {
      width: 30%;
    }
  }

  &__title-text {
    color: $color-white;
    font-size: 2.4rem;
  }

  &__info {
    display: flex;
    gap: 12rem;

    @include respond(tab-land) {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__caption {
    font-size: 1.8rem;
    color: $color-white;
  }

  &__icon {
    @include iconSmall;
    fill: $color-white;
  }

  &__links {
    display: flex;
    gap: 14rem;
  }

  &__link-icon {
    @include iconSmall;
    fill: $color-white;
  }

  &__copyright {
    color: $color-white;
    font-size: 1.4rem;
  }
}
