.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: $color-light;
  padding: 1rem;

  &__branding {
    @include removeLinkDecoration;
    display: flex;
    height: 100%;
    gap: 2rem;
    cursor: pointer;

    &:visited {
      @include removeLinkDecoration;
    }
  }

  &__name {
    font-size: 3.2rem;
    color: $color-primary;
    font-weight: $font-light;
    transition: all 0.5s;
  }

  &__branding:hover &__name {
    color: $color-dark;
  }

  &__logo {
    fill: $color-primary;
    @include iconMedium;
    transition: fill 0.5s;
  }

  &__branding:hover &__logo {
    fill: $color-dark;
  }

  &__nav {
    display: flex;
    gap: 3rem;
    margin-right: 2rem;
  }

  &__link {
    @include removeLinkDecoration;
    font-size: 2.4rem;
    font-weight: $font-regular;
    cursor: pointer;
    transition: color 0.5s;

    &:hover {
      color: $color-primary;
    }
  }
}
