.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: $color-light;
  padding: 1rem;

  @include respond(phone) {
    display: none;
  }

  &__branding {
    @include removeLinkDecoration;
    height: 100%;
    gap: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:visited {
      @include removeLinkDecoration;
    }
  }

  &__name {
    font-size: 2.4rem;
    color: $color-primary;
    font-weight: $font-light;
    transition: all $transition-slow;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__branding:hover &__name {
    color: $color-dark;
  }

  &__logo {
    fill: $color-primary;
    @include iconMedium;
    transition: fill $transition-slow;
  }

  &__branding:hover &__logo {
    fill: $color-dark;
  }

  &__nav {
    display: flex;
    gap: 3rem;
    margin-right: 2rem;
  }

  &__link {
    @include removeLinkDecoration;
    font-size: 1.8rem;
    cursor: pointer;
    transition: color $transition-slow;

    &:hover {
      color: $color-primary;
    }
  }
}
