.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: $color-light;
  padding: 1rem;
  transition: all 0.5s;

  &__branding {
    @include removeLinkDecoration;
    display: flex;
    height: 100%;
    gap: 2rem;
    cursor: pointer;

    &:visited {
      @include removeLinkDecoration;
    }
  }

  &__name {
    font-size: 3.2rem;
    color: $color-primary;
    font-weight: $font-light;
  }

  &__logo {
    height: 100%;
    &--img {
      height: 100%;
    }
  }

  &__nav {
    display: flex;
    gap: 3rem;
    margin-right: 2rem;
  }

  &__link {
    @include removeLinkDecoration;
    font-size: 2.4rem;
    font-weight: $font-regular;
    cursor: pointer;

    &:hover {
      transition: all 0.5s;
      color: $color-primary;
    }
  }
}
