.feat-projects {
  background-color: $color-secondary;

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10rem;
  }
}

.project {
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40rem;
    width: 35rem;
  }

  &__title {
    @include removeLinkDecoration;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__img {
    width: 100%;
    height: 25%;
  }

  &__icon--title {
    @include iconSmall;
    fill: $color-primary;
  }

  &__summary {
    font-size: 1.8rem;
    text-align: center;
  }

  &__name {
    font-size: 3rem;
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
  }

  &__link {
    @include removeLinkDecoration;
    display: flex;
    gap: 0.8rem;
  }

  &__icon {
    @include iconSmall;
    fill: $color-dark;
  }

  &__icon-caption {
    @include removeLinkDecoration;
    font-size: 1.8rem;
    font-weight: $font-regular;
  }
}
