.skills {
  @include overlaidBackdrop(0.4, '/img/skills-backdrop.jpg');

  &__title {
    color: $color-white;
  }

  &__levels {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10rem;
  }
}

.skill-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
  }

  &__name {
    font-size: 2.4rem;
    color: $color-white;
  }

  &__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 7.5rem;
  }

  &__icon {
    @include iconLarge;
    fill: $color-white;
  }

  &__caption {
    color: $color-white;
    font-size: 1.8rem;
    text-align: center;
  }
}
