.title-container {
  text-align: center;
}

.section-title {
  text-transform: uppercase;
  font-size: $title-size;
  font-weight: 600;
  letter-spacing: -0.5px;
  text-align: center;
  border-bottom: 3px solid $color-dark;
}

.section-title--white {
  color: #fff;
  border-bottom: 3px solid #fff;
}

.katex-html {
  display: none;
}

.disabled-text {
  color: $color-medium;
}
