.title-container {
}

.section-container {
  max-width: 110rem;
  margin-inline: auto;
  padding-inline: 5rem;
}

.section-title {
  font-family: $font-display;
  text-transform: uppercase;
  font-size: $title-size;
  font-weight: 700;
  letter-spacing: -0.5px;
  display: inline-block;
  padding-left: 1.5rem;
  border-left: 4px solid $color-primary;
}

.section-title--white {
  color: #fff;
  border-left-color: #fff;
}

.katex-html {
  display: none;
}

.disabled-text {
  color: $color-medium;
}
