.about {
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 10rem;
    margin: 0 10vw;
    gap: 5rem;
  }

  &__portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex-grow: 1;
  }

  &__img {
    background: url(/img/img-self-portrait.jpg);
    background-size: cover;
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
    border: solid 1rem;
    border-color: $color-primary;
  }

  &__links {
    display: flex;
    flex-direction: row;
    gap: 10rem;
  }

  &__link-icon {
    @include iconMedium;
    fill: $color-dark;
  }

  &__text {
    width: 55rem;
    height: 100%;
    font-size: 2.4rem;
    font-weight: $font-regular;
    flex-grow: 2;
  }

  &__p {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
