.about {
  &__content {
    display: flex;
    align-items: flex-start;
    margin: 0 10vw;
    gap: 10rem;

    @include respond(tab-land) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex: 1 0;
  }

  &__img {
    background: url(/img/img-self-portrait.jpg);
    background-size: cover;
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
    border: solid 0.75rem $color-primary;

    @include respond(tab-land) {
      height: 35rem;
      width: 35rem;
      border: solid 0.5rem $color-primary;
    }

    @include respond(phone) {
      height: 30rem;
      width: 30rem;
      border: solid 0.3rem $color-primary;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    gap: 8rem;

    @include respond(tab-land) {
      gap: 5rem;
    }
  }

  &__link-icon {
    @include iconMedium;
    fill: $color-dark;
  }

  &__text {
    height: 100%;
    font-size: 2.2rem;
    flex: 2 1;

    @include respond(tab-land) {
      width: 100%;
    }

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }

  &__p {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
