.feat-articles {
  &__content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;

    @include respond(tab-land) {
      flex-direction: column;
      align-items: center;
      gap: 5rem;
    }
  }

  &__btn {
    text-align: center;
  }
}
