.feat-projects {
  background-color: $color-secondary;

  .project-card {
    background-color: $color-white;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    margin-bottom: 5rem;
    padding-inline: 5rem;

    @include respond(tab-land) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__btn {
    text-align: center;
  }
}
