.hero {
  height: 100vh;
  position: relative;
  @include overlaidBackdrop(0.4, '/img/hero-backdrop.jpg');

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include absCenter;
  }

  &__name {
    font-size: 7rem;
    font-weight: $font-thin;
    color: $color-white;
    text-align: center;

    @include respond(tab-land) {
      font-size: 6rem;
    }

    @include respond(phone) {
      font-size: 5rem;
    }
  }

  &__links {
    display: flex;
    gap: 10rem;

    @include respond(phone) {
      gap: 5rem;
    }
  }

  &__link-icon {
    @include iconLarge;
    fill: $color-white;

    @include respond(tab-land) {
      @include iconMedium;
    }
  }
}
