.hero {
  height: 100vh;
  position: relative;
  @include overlaidBackdrop(0.55, '/img/hero-backdrop.jpg');

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include absCenter;
  }

  &__name {
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: -0.75px;
    color: $color-white;
    text-align: center;
  }

  &__links {
    display: flex;
    gap: 10rem;
  }

  &__link-icon {
    @include iconLarge;
    fill: $color-white;
    transition: all $transition-slow;
  }
}
