.feat-projects {
  background-color: $color-secondary;

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 5rem;
  }

  &__btn {
    padding-bottom: 10rem;
    text-align: center;
  }
}
