.skills {
  @include overlaidBackdrop(0.55, '/img/skills-backdrop-lazy.jpg');

  &__levels {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    max-width: 110rem;
    margin-inline: auto;

    @include respond(tab-land) {
      flex-direction: column;
      gap: 5rem;
    }
  }
}
