.skills {
  @include overlaidBackdrop(0.55, '/img/skills-backdrop-lazy.jpg');

  &__levels {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include respond(tab-land) {
      flex-direction: column;
      gap: 5rem;
    }
  }
}
