.skills {
  @include overlaidBackdrop(0.4, '/img/skills-backdrop-lazy.jpg');

  &__title {
    color: $color-white;
  }

  &__levels {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include respond(tab-land) {
      flex-direction: column;
      gap: 5rem;
    }
  }
}
