.about
  .title.about__title.margin-bot-med.padding-top-lg about me
  .about__content
    .about__portrait
      .about__img
      .about__links
        a.about__link(href='https://github.com/michael-michelotti/', target='_blank')
          svg.about__icon
            use(xlink:href='/img/sprite.svg#icon-github-black')
        a.about__link(href='#')
          svg.about__icon
            use(xlink:href='/img/sprite.svg#icon-resume-black')
        a.about__link(href='https://www.linkedin.com/in/michael-michelotti-880456174/', target='_blank')
          svg.about__icon
            use(xlink:href='/img/sprite.svg#icon-linkedin-black')

    .about__text I have a Bachelor's degree in Physics, but lately my interests veered towards Computer Engineering and Computer. 
                 |It is my intention to maintain about three Computer Engineering at any given time. The first project should utilize Python - a level broader scripting language. The jack of all trades, but the master of none.
