include _articleCard

.articles#articles
  .title.articles__title.margin-bot-med.padding-top-lg featured articles
  .articles__content
    if articles[0]
      +articleCard(articles[0])
    if articles[1] 
      .card-divider
      +articleCard(articles[1])
