mixin info(icon, caption)
  .footer__info-item
    svg.footer__icon
      use(xlink:href=`/img/sprite.svg#icon-${icon}`, alt=`${icon} icon`)
    .footer__caption= caption

include mixins/_iconLink

footer.footer#footer
  .footer__title
    .footer__line
    .footer__title-text Contact
    .footer__line
  .footer__info
    +info('location', 'San Diego, CA')
    +info('email', 'michael.michelotti4@gmail.com')
    +info('phone', '(650) 533-6841')
  .footer__links
    +iconLink('footer', 'https://github.com/michael-michelotti/', 'github')
    +iconLink('footer', '#', 'resume')
    +iconLink('footer', 'https://www.linkedin.com/in/michael-michelotti-880456174/', 'linkedin')
  .footer__copyright &copy; Michael Michelotti, 2021
