header.header
  a.nav__branding(href='/')
    .nav__logo
      img.nav__logo--img(src='/img/logo.png', alt='Michael Michelotti logo')
    .nav__name Michael Michelotti
  nav.nav__links
    a.nav__link(href='#') About
    a.nav__link(href='#') Projects
    a.nav__link(href='#') Articles
    a.nav__link(href='#') Skills
    a.nav__link(href='#') Contact
