header.header
  a.header__branding(href='/')
    .header__logo
      img.header__logo--img(src='/img/logo.png', alt='Michael Michelotti logo')
    .header__name Michael Michelotti
  nav.header__nav
    a.header__link(href='#') About
    a.header__link(href='#') Projects
    a.header__link(href='#') Articles
    a.header__link(href='#') Skills
    a.header__link(href='#') Contact
