.hero
  .hero__content
    .hero__name Michael Michelotti
    .hero__links
      a.hero__links--github(href='https://github.com/michael-michelotti/')
        svg 
          use(xlink:href='/img/hero-icon-github.svg')
      .hero__links--resume
      .hero__links--linkedin