include _projectCard

.projects
  .title.projects__title.margin-bot-med.padding-top-lg featured projects 
  .projects__content
    if projects[0]
      +projectCard(projects[0])
    if projects[1]
      .project__divider
      +projectCard(projects[1])
    if projects[2]
      .project__divider
      +projectCard(projects[2])
