include _projectCard

.projects
  .title.projects__title.margin-bot-med featured projects 
  .projects__content
    +projectCard(projects[0])
    .project__divider
    +projectCard(projects[1])
    .project__divider
    +projectCard(projects[2])
