/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-weight: 400;
  line-height: 1.6; }

.mb-md {
  margin-bottom: 5rem !important; }

.mb-lg {
  margin-bottom: 10rem !important; }

.pb-lg {
  padding-bottom: 10rem !important; }

.mt-md {
  margin-top: 5rem !important; }

.mt-lg {
  margin-top: 10rem !important; }

.pt-lg {
  padding-top: 10rem !important; }

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(235, 235, 235, 0.75) !important; }

.active-nav {
  font-weight: 600 !important;
  text-decoration: underline !important; }

.icon:hover {
  fill: #0072ff; }

.lazy-img {
  filter: blur(2rem); }

.rotate-180 {
  transform: rotate(180deg); }

.title-container {
  text-align: center; }

.section-title {
  text-transform: uppercase;
  font-size: 3.4rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  text-align: center;
  border-bottom: 3px solid #333; }

.section-title--white {
  color: #fff;
  border-bottom: 3px solid #fff; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: #ebebeb;
  padding: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .header {
      display: none; } }
  .header__branding {
    text-decoration: none;
    color: #333;
    height: 100%;
    gap: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center; }
    .header__branding:visited {
      text-decoration: none;
      color: #333; }
  .header__name {
    font-size: 2.4rem;
    color: #0072ff;
    transition: all 0.5s; }
    @media only screen and (max-width: 56.25em) {
      .header__name {
        display: none; } }
  .header__branding:hover .header__name {
    color: #333; }
  .header__logo {
    fill: #0072ff;
    height: 4rem;
    width: 4rem;
    transition: fill 0.5s; }
  .header__branding:hover .header__logo {
    fill: #333; }
  .header__nav {
    display: flex;
    gap: 3rem;
    margin-right: 2rem; }
  .header__link {
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
    cursor: pointer;
    transition: color 0.15s; }
    .header__link:hover {
      color: #0072ff; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3rem;
  background-color: #6b71a8; }
  .footer__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 50%; }
  .footer__line {
    height: 0;
    width: 10%;
    border-top: solid 0.1rem #fff; }
    @media only screen and (max-width: 37.5em) {
      .footer__line {
        width: 30%; } }
  .footer__title-text {
    color: #fff;
    font-size: 2.4rem; }
  .footer__info {
    display: flex;
    gap: 12rem; }
    @media only screen and (max-width: 75em) {
      .footer__info {
        flex-direction: column;
        align-items: center;
        gap: 2rem; } }
  .footer__info-item {
    display: flex;
    align-items: center;
    gap: 1.5rem; }
  .footer__caption {
    font-size: 1.8rem;
    color: #fff; }
  .footer__icon {
    height: 2rem;
    width: 2rem;
    fill: #fff; }
  .footer__links {
    display: flex;
    gap: 14rem; }
  .footer__link-icon {
    height: 3rem;
    width: 3rem;
    fill: #fff;
    transition: 0.15s; }
  .footer__copyright {
    color: #fff;
    font-size: 1.4rem; }

.projects {
  padding-bottom: 10rem; }
  .projects__search {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    width: 80%;
    height: 4rem;
    gap: 5rem; }
  .projects__search-box {
    flex: 1 0 50%;
    appearance: none;
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    border: 0.1rem solid #333;
    border-radius: 0.4rem;
    padding: 1rem; }
  .projects__category-filter {
    flex-grow: 1;
    appearance: none;
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    border: 0.1rem solid #333;
    border-radius: 0.4rem;
    padding: 1rem; }
  .projects__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center; }

.articles__content {
  padding: 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .articles__content {
      display: flex;
      flex-direction: column;
      gap: 5rem; } }
  .articles__content *:nth-child(4n + 1) {
    grid-column: 1; }
  .articles__content *:nth-child(4n + 2) {
    grid-column: 1 / -1; }
  .articles__content *:nth-child(4n + 3) {
    grid-column: 2; }
  .articles__content *:nth-child(4n + 4) {
    grid-column: 1 / -1;
    align-self: end;
    justify-self: center;
    transform: translateY(5rem); }

.article {
  font-family: "Georgia", sans-serif;
  gap: 3rem;
  width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .article pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word; }
  @media only screen and (max-width: 37.5em) {
    .article {
      width: initial;
      margin: 0 5vw; } }
  .article__header {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .article__caption {
    color: #777;
    font-size: 1.8rem; }
  .article__by {
    font-size: 1.8rem; }
  .article__author {
    font-weight: bold; }
  .article__updated {
    font-size: 1.4rem;
    color: #777;
    font-style: italic; }
  .article__title {
    font-size: 5rem;
    font-weight: bold italic;
    text-align: center; }
  .article__pic {
    width: 100%;
    height: auto; }
  .article__img {
    width: 100%;
    object-fit: cover;
    display: block; }
  .article__body {
    font-size: 1.8rem;
    line-height: 1.8; }

.rel-content {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 40rem;
  right: 2vw;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 25rem; }
  @media only screen and (max-width: 75em) {
    .rel-content {
      position: static;
      padding-bottom: 10rem;
      margin: 0 auto; } }
  .rel-content__title {
    font-size: 2.4rem;
    padding-left: 1rem;
    font-weight: 200; }

.post-article {
  padding: 4.8rem 6.4rem; }
  .post-article__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 80rem;
    margin: 0 auto; }
  .post-article__label {
    font-size: 1.6rem; }
  .post-article__input {
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    padding: .4rem .8rem;
    display: block;
    width: 100%; }
  .post-article__btn {
    align-self: center; }

.hero {
  height: 100vh;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("/img/hero-backdrop.jpg");
  background-size: cover; }
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .hero__name {
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: -0.75px;
    color: #fff;
    text-align: center; }
  .hero__links {
    display: flex;
    gap: 10rem; }
  .hero__link-icon {
    height: 6rem;
    width: 6rem;
    fill: #fff;
    transition: all 0.5s; }

.about__content {
  display: flex;
  align-items: flex-start;
  margin: 0 10vw;
  gap: 10rem; }
  @media only screen and (max-width: 75em) {
    .about__content {
      flex-direction: column;
      align-items: center; } }

.about__portrait {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex: 1 0; }

.about__img {
  display: block;
  background: url(/img/img-pro-portrait.webp);
  background-size: cover;
  height: 40rem;
  width: 40rem;
  border-radius: 50%;
  border: solid 0.75rem #0072ff; }

.about__links {
  display: flex;
  flex-direction: row;
  gap: 8rem; }

.about__link-icon {
  height: 4rem;
  width: 4rem;
  fill: #333;
  transition: all 0.3s; }

.about__text {
  height: 100%;
  font-size: 1.8rem;
  line-height: 1.8;
  flex: 2 1; }
  @media only screen and (max-width: 75em) {
    .about__text {
      width: 100%; } }

.about__p:not(:last-child) {
  margin-bottom: 1.5rem; }

.feat-projects {
  background-color: #edf5ff; }
  .feat-projects__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 75em) {
      .feat-projects__content {
        flex-direction: column;
        align-items: center;
        gap: 5rem; } }
  .feat-projects__btn {
    text-align: center; }

.feat-articles__content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 75em) {
    .feat-articles__content {
      flex-direction: column;
      align-items: center;
      gap: 5rem; } }

.feat-articles__btn {
  text-align: center; }

.skills {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("/img/skills-backdrop-lazy.jpg");
  background-size: cover; }
  .skills__levels {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    @media only screen and (max-width: 75em) {
      .skills__levels {
        flex-direction: column;
        gap: 5rem; } }

.main {
  position: relative;
  height: 50vh; }

.error {
  margin: 10rem auto;
  max-width: 80rem;
  text-align: center; }
  .error__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; }
  .error__uhoh {
    font-size: 2.4rem; }
  .error__emoji {
    font-size: 3.75rem;
    margin-left: 1rem; }
  .error__msg {
    margin: 0 auto;
    font-size: 2.4rem;
    font-weight: 600;
    max-width: 50rem; }

.article-card {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: flex-start;
  width: 50rem; }
  @media only screen and (max-width: 37.5em) {
    .article-card {
      flex-direction: column;
      align-items: center;
      width: 80%; } }
  .article-card:hover .article-card__name {
    transition: all 0.3s;
    color: #0072ff; }
  .article-card:hover .article-card__icon {
    transition: all 0.3s;
    fill: #0072ff; }
  .article-card__title {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: 600; }
  .article-card__name {
    font-size: 2.2rem; }
  .article-card__icon {
    height: 2rem;
    width: 2rem;
    fill: #333; }
  .article-card__summary {
    padding-left: 1.5rem; }
  .article-card__point {
    font-size: 1.4rem;
    line-height: 1.8; }
    .article-card__point:not(:last-child) {
      margin-bottom: 1rem; }
  .article-card__img {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    object-fit: cover; }
    @media only screen and (max-width: 37.5em) {
      .article-card__img {
        display: none; } }

.project-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.5rem;
  width: 30rem;
  background-color: #ebebeb; }
  .project-card__img {
    width: 100%;
    display: block;
    object-fit: cover; }
  .project-card__img-link {
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
  .project-card__title {
    text-decoration: none;
    color: #333;
    width: 80%;
    color: #fff;
    background-color: #6b71a8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    transform: translateY(50%);
    padding: 1rem;
    transition: all 0.5s; }
    .project-card__title:hover {
      background-color: #53598d; }
  .project-card__icon {
    height: 2rem;
    width: 2rem;
    fill: #fff;
    transition: fill 0.5s; }
  .project-card__name {
    font-size: 2rem;
    transition: color 0.5s; }
  .project-card__summary {
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
    line-height: 1.8;
    text-align: center;
    grid-column: 1 / -1;
    margin: 2rem 1rem 0 1rem; }
  .project-card__links {
    grid-column: 1 / -1;
    margin-bottom: 2rem; }

.project-row {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem; }
  @media only screen and (max-width: 75em) {
    .project-row {
      width: 70%; } }
  .project-row__title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center; }
  .project-row__name {
    text-transform: uppercase;
    font-size: 2.4rem;
    text-decoration: none;
    color: #333; }
  .project-row__content {
    display: flex;
    gap: 9rem; }
    @media only screen and (max-width: 75em) {
      .project-row__content {
        flex-direction: column;
        align-items: center;
        gap: 3rem; } }
  .project-row__picture {
    flex: 1 1 0;
    min-width: 20rem;
    background-size: cover; }
    @media only screen and (max-width: 75em) {
      .project-row__picture {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .project-row__picture {
        width: 100%; } }
  .project-row__img {
    width: 100%; }
  .project-row__text {
    flex: 1 1 0;
    font-size: 1.4rem; }
    @media only screen and (max-width: 75em) {
      .project-row__text {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .project-row__text {
        width: 100%; } }
  .project-row__summary {
    margin-bottom: 1rem; }
  .project-row__description:not(.project-row__description:last-child) {
    margin-bottom: 0.2rem; }

.rel-article-card {
  text-decoration: none;
  color: #333;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between; }
  .rel-article-card:hover .rel-article-card__title {
    color: #0072ff; }
  .rel-article-card:hover .rel-article-card__title::before {
    border-top: solid 1px #0072ff; }
  .rel-article-card__img {
    width: 50%;
    border: 0.1rem solid #333; }
  .rel-article-card__title {
    font-size: 1.4rem;
    transition: color 0.5s; }
    .rel-article-card__title::before {
      content: '';
      position: absolute;
      height: 0;
      width: 15rem;
      border-top: solid 1px #333;
      transition: all 0.5s; }

.tech-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; }
  .tech-grid__title {
    font-size: 1.8rem; }
  .tech-grid__grid {
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    gap: 2rem; }
    .tech-grid__grid-item {
      height: 4rem;
      width: 4rem;
      fill: #0072ff; }

.col-divider {
  align-self: center;
  width: 0;
  height: 25rem;
  border-right: solid 0.1rem #333; }
  @media only screen and (max-width: 75em) {
    .col-divider {
      width: 25rem;
      height: 0;
      border-top: solid 0.1rem #333; } }
  .col-divider--white {
    border-right: solid 0.1rem #fff; }
    @media only screen and (max-width: 75em) {
      .col-divider--white {
        border-top: solid 0.1rem #fff; } }

.row-divider {
  align-self: center;
  height: 0;
  width: 80rem;
  border-top: solid 0.1rem #333; }
  .row-divider:last-child {
    display: none; }
  @media only screen and (max-width: 75em) {
    .row-divider {
      width: 60rem; } }
  @media only screen and (max-width: 56.25em) {
    .row-divider {
      width: 30rem; } }

.skill-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem; }
  .skill-grid__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 5rem; }
  .skill-grid__name {
    font-size: 2.4rem;
    color: #fff;
    font-weight: 400; }

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 15rem;
  height: 15rem; }
  .skill__icon {
    height: 6rem;
    width: 6rem;
    fill: #fff; }
  .skill__caption {
    color: #fff;
    font-size: 1.8rem;
    text-align: center; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.75rem 3rem;
  transition: all 0.5s;
  font-size: 2rem;
  cursor: pointer; }

.btn--blue {
  background-color: #6b71a8;
  color: #fff; }
  .btn--blue:hover, .btn--blue:active {
    background-color: #53598d; }

.project-links {
  display: flex;
  justify-content: space-evenly;
  gap: 5rem; }
  .project-links__link {
    text-decoration: none;
    color: #333;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    position: relative;
    padding: 0.5rem 1rem; }
    .project-links__link::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: #6b71a8;
      transform: scaleY(0);
      transition: transform 0.1s, width 0.5s cubic-bezier(1, 0, 0, 1) 0.1s; }
    .project-links__link:hover::before {
      transform: scaleY(1);
      width: 100%; }
  .project-links__icon {
    height: 2rem;
    width: 2rem;
    fill: #333;
    position: relative;
    z-index: 10;
    transition: fill 0.3s; }
  .project-links__link:hover .project-links__icon {
    fill: #fff; }
  .project-links__caption {
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
    position: relative;
    z-index: 10;
    transition: color 0.3s; }
  .project-links__link:hover .project-links__caption {
    color: #fff; }

.checkbox-filter {
  flex-grow: 1;
  position: relative; }
  .checkbox-filter__content {
    display: none;
    position: absolute;
    padding: 1rem;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    border: 0.1rem solid #333;
    border-radius: 0.4rem;
    max-height: 25rem;
    overflow-y: auto; }
  .checkbox-filter__label {
    display: block;
    margin-bottom: 0.5rem; }
    .checkbox-filter__label-text {
      font-size: 1.4rem;
      margin-right: 1rem; }
  .checkbox-filter__button {
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: left;
    appearance: none;
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    border: 0.1rem solid #333;
    border-radius: 0.4rem;
    padding: 1rem; }
    .checkbox-filter__button:focus {
      border: 0.2rem solid #333; }

.content-form {
  padding: 4.8rem 6.4rem; }
  .content-form__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 80rem;
    margin: 0 auto; }
  .content-form__label {
    font-size: 1.6rem; }
  .content-form__input {
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    padding: .4rem .8rem;
    display: block;
    width: 100%; }
  .content-form__btn {
    align-self: center; }
