.article-card {
  @include removeLinkDecoration;
  display: flex;
  align-items: flex-start;
  width: 50rem;

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  &:hover &__name {
    transition: all $transition-slow;
    color: $color-primary;
  }

  &:hover &__icon {
    transition: all $transition-slow;
    fill: $color-primary;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: $font-light;
  }

  &__name {
    font-size: 2.2rem;
  }

  &__icon {
    @include iconSmall;
    fill: $color-dark;
  }

  &__summary {
    padding-left: 1.5rem;
  }

  &__point {
    font-size: 1.4rem;
    font-weight: $font-regular;
    display: list-item;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__img {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    object-fit: cover;

    @include respond(phone) {
      display: none;
    }
  }
}
