.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    font-weight: $font-light;
    text-decoration: none;
    padding: 1rem 3rem;
    transition: all 0.5s;
    font-size: 2rem;
    cursor: pointer;
  }

  &--blue {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }
}
