.checkbox-filter {
  flex-grow: 1;
  position: relative;

  &__content {
    display: none;
    position: absolute;
    padding: 1rem;
    z-index: 100;
    width: 100%;
    background-color: $color-white;
    border: 0.1rem solid $color-dark;
    border-radius: 0.4rem;
    max-height: 25rem;
    overflow-y: auto;
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;

    &-text {
      font-size: 1.4rem;
      margin-right: 1rem;
    }
  }

  &__button {
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: $color-white;
    text-align: left;
    @include searchBarBox;

    &:focus {
      border: 0.2rem solid $color-dark;
    }
  }
}
