.col-divider {
  align-self: center;
  width: 0;
  height: 25rem;
  border-right: solid 0.1rem $color-dark;

  @include respond(tab-land) {
    width: 25rem;
    height: 0;
    border-top: solid 0.1rem $color-dark;
  }

  &--white {
    border-right: solid 0.1rem $color-white;

    @include respond(tab-land) {
      border-top: solid 0.1rem $color-white;
    }
  }
}

.row-divider {
  align-self: center;
  height: 0;
  width: 80rem;
  border-top: solid 0.1rem $color-dark;

  &:last-child {
    display: none;
  }

  @include respond(tab-land) {
    width: 60rem;
  }

  @include respond(tab-port) {
    width: 30rem;
  }
}
