.project-links {
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;

  &__link {
    @include removeLinkDecoration;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    position: relative;
    padding: 0.5rem 1rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $color-primary;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.5s cubic-bezier(1, 0, 0, 1) 0.2s;
    }

    &:hover::before {
      transform: scaleY(1);
      width: 100%;
    }
  }

  &__icon {
    @include iconSmall;
    fill: $color-dark;
    position: relative;
    z-index: 10;
    transition: all 0.5s cubic-bezier(0.99, 0.11, 0.93, 0.35);
  }

  &__caption {
    @include removeLinkDecoration;
    font-size: 1.8rem;
    font-weight: $font-regular;
    position: relative;
    z-index: 10;
    transition: all 0.5s cubic-bezier(0.99, 0.11, 0.93, 0.35);
  }

  &__link:hover &__icon {
    fill: $color-white;
  }

  &__link:hover &__caption {
    color: $color-white;
  }
}
