.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 35rem;
  padding: 1rem 1rem 4rem 1rem;
  border-radius: 1rem;

  &:hover &__name {
    transition: all 0.5s;
    color: $color-primary;
  }

  &:hover &__icon--title {
    transition: all 0.5s;
    fill: $color-primary;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: $font-light;
    @include removeLinkDecoration;
  }

  &__img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    padding: 1rem;
    margin-top: -2rem;
  }

  &__icon--title {
    @include iconSmall;
    fill: $color-dark;
  }

  &__summary {
    font-size: 1.8rem;
    text-align: center;
    @include removeLinkDecoration;
  }

  &__name {
    font-size: 3rem;
  }
}
