.project-row {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  @include respond(tab-land) {
    width: 70%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  &__name {
    text-transform: uppercase;
    font-size: 2.4rem;
    @include removeLinkDecoration;
  }

  &__content {
    display: flex;
    gap: 9rem;

    @include respond(tab-land) {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
  }

  &__picture {
    flex: 1 1 0;
    min-width: 20rem;
    background-size: cover;

    @include respond(tab-land) {
      width: 80%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &__img {
    width: 100%;
  }

  &__text {
    flex: 1 1 0;
    font-size: 1.4rem;

    @include respond(tab-land) {
      width: 80%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &__summary {
    margin-bottom: 1rem;
  }

  &__description {
    &:not(&:last-child) {
      margin-bottom: 0.2rem;
    }
  }
}
