.rel-article-card {
  @include removeLinkDecoration;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;

  &:hover &__title {
    color: $color-primary;
  }

  &:hover &__title::before {
    border-top: solid 1px $color-primary;
  }

  &__img {
    width: 12.5rem;
    height: 9rem;
  }

  &__title {
    font-size: 1.4rem;
    transition: color 0.5s;

    &::before {
      content: '';
      position: absolute;
      height: 0;
      width: 20rem;
      border-top: solid 1px $color-dark;
      transition: all 0.5s;
    }
  }
}
