.rel-article-card {
  @include removeLinkDecoration;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;

  &:hover &__title {
    color: $color-primary;
  }

  &:hover &__title::before {
    border-top: solid 1px $color-primary;
  }

  &__img {
    width: 50%;
    border: 0.1rem solid $color-dark;
  }

  &__title {
    font-size: 1.4rem;
    transition: color $transition-slow;

    &::before {
      content: '';
      position: absolute;
      height: 0;
      width: 15rem;
      border-top: solid 1px $color-dark;
      transition: all $transition-slow;
    }
  }
}
