.skill-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex: 1 1 0;
  min-width: 0;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
  }

  &__name {
    font-size: 2.4rem;
    color: $color-dark;
    font-weight: $font-regular;
  }
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__icon {
    @include iconLarge;
    fill: $color-dark;
  }

  &__caption {
    color: $color-dark;
    font-size: 1.8rem;
    text-align: center;
  }
}
