.tech-used {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &__title {
    font-size: 1.8rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    gap: 2rem;

    &-item {
      @include iconMedium;
      fill: $color-primary;
    }
  }
}
