include ../mixins/_iconLink

section.about#about
  .title.about__title.m-bot-md.p-top-lg about me
  .about__content
    .about__portrait
      .about__img
      .about__links
        +iconLink('about', 'https://github.com/michael-michelotti/', 'github-black')
        +iconLink('about', '#', 'resume-black')
        +iconLink('about', 'https://www.linkedin.com/in/michael-michelotti-880456174/', 'linkedin-black')
    .about__text
      p.about__p I have a Bachelor's degree in Physics, but lately my interests veered towards Computer Engineering and Computer. 
      p.about__p It is my intention to maintain about three Computer Engineering at any given time. The first project should utilize Python - a level broader scripting language. The jack of all trades, but the master of none.
