include ../mixins/_iconLink

section.hero#hero
  .hero__content
    .hero__name Michael Michelotti
    .hero__links
      +iconLink('hero', 'https://github.com/michael-michelotti/', 'github-white')
      +iconLink('hero', '#', 'resume-white')
      +iconLink('hero', 'https://www.linkedin.com/in/michael-michelotti-880456174/', 'linkedin-white')
