include ../mixins/_skillGrid

section.skills#skills
  .section-title.skills__title.pt-lg.mb-md skills 
  .skills__levels
    .skill-grid
      .skill-grid__name Expert
      .skill-grid__grid
        +skill('networking', 'Networking CCNA')
        +skill('networking', 'Excel Specialist')
        +skill('networking', 'Word Specialist')
        +skill('networking', 'Python')
    .card-divider.card-divider--white
    .skill-grid
      .skill-grid__name Intermediate
      .skill-grid__grid
        +skill('networking', 'JavaScript')
        +skill('networking', 'HTML5')
        +skill('networking', 'CSS3')
        +skill('networking', 'SQL')
    .card-divider.card-divider--white
    .skill-grid
      .skill-grid__name Comfortable
      .skill-grid__grid
        +skill('networking', 'C')
        +skill('networking', 'C++')
        +skill('networking', 'Security')
        +skill('networking', 'Arduino')
