mixin checkboxFilter(values)
  .checkbox-filter
    button.checkbox-filter__button 
      | Select tech used to filter
    .checkbox-filter__content
      each value in values
        label.checkbox-filter__label 
            span.checkbox-filter__label-text #{value}
            input.checkbox-filter__input(type='checkbox', value=value)
