include _techGrid
include _projectLinks

mixin projectRow(project)
  .project-row
    .project-row__title
      .project-row__name= project.name
      .project-row__links
        +projectLinks(project)

    .project-row__content
      img.project-row__img(src=`/img/${project.coverImage}`)
      .project-row__text
        .project-row__summary #[em SUMMARY:] #{project.summary}
        - const descParas = project.detailDescription.split('\n')
        span #[em DESCRIPTION:]
        each para in descParas
          .project-row__description #{para}
      +techGrid('Tech Used', project.techsUsed)
