.projects {
  padding-bottom: 10rem;

  &__title {
    margin-bottom: 3rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }

  &__card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 5rem;
    justify-items: center;
    width: 100%;
  }
}
