.projects {
  padding-bottom: 10rem;

  &__search {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    width: 80%;
    height: 4rem;
    gap: 5rem;
  }

  &__search-box {
    flex: 1 0 50%;
    @include searchBarBox;
  }

  &__category-filter {
    flex-grow: 1;
    @include searchBarBox;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;

  }
}
