.projects {
  padding-bottom: 10rem;

  &__search {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    width: 80%;
    height: 4rem;
    gap: 5rem;
  }

  &__search-box {
    flex: 1 0 50%;
    @include searchBarBox;
  }

  &__category-filter {
    flex-grow: 1;
    @include searchBarBox;
  }

  &__tech-filter {
    display: flex;
    gap: 0.5rem;

    &-tech {
      display: flex;
      gap: 0.2rem;
      align-items: center;

      &-label {
        font-size: 1.4rem;
      }

      &-checkbox {
        transform: scale(1.3);
        margin: 0.2rem;
      }
    }

  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;

  }
}
