.main {
  position: relative;
  height: 50vh;
}

.error {
  margin: 10rem auto;
  max-width: 80rem;
  text-align: center;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__uhoh {
    font-size: 2.4rem;
  }

  &__emoji {
    font-size: 3.75rem;
    margin-left: 1rem;
  }

  &__msg {
    margin: 0 auto;
    font-size: 2.4rem;
    font-weight: $font-bold;
    max-width: 50rem;
  }
}
