.project-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 70%;
  margin-inline: auto;

  @include respond(tab-land) {
    width: 80%;
  }

  @include respond(phone) {
    width: 90%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__name {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: $font-bold;
  }

  &__picture {
    width: 100%;
    max-width: 60rem;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__body {
    width: 100%;
    max-width: 60rem;
    font-size: 1.6rem;
    line-height: 1.8;
  }

  &__summary {
    font-size: 1.8rem;
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
