include ../../mixins/_iconLink

section.about#about
  .section-title.mb-md.pt-lg about me
  .about__content.pb-lg
    .about__portrait
      .about__img
      .about__links
        +iconLink('about', githubLink, 'github')
        +iconLink('about', resumeLink, 'resume')
        +iconLink('about', linkedinLink, 'linkedin')
    .about__text
      p.about__p I have a Bachelor's degree in Physics, but lately my interests veered towards Computer Engineering and Computer. 
      p.about__p It is my intention to maintain about three Computer Engineering at any given time. The first project should utilize Python - a level broader scripting language. The jack of all trades, but the master of none.
