include ../../mixins/_iconLink

section.about#about
  .section-title.mb-md.pt-lg about me
  .about__content.pb-lg
    .about__portrait
      .about__img
      .about__links
        +iconLink('about', githubLink, 'github')
        +iconLink('about', resumeLink, 'resume')
        +iconLink('about', linkedinLink, 'linkedin')
    .about__text
      p.about__p
        | I have a Bachelor's degree in Physics from the University of Maryland, College Park. However, lately my interest has veered towards Computer Engineering and Computer Science. 
      p.about__p
        | Over the last year and a half, I have been teaching myself. I have mainly specialized in Python for Data Science, but I've also spent a lot of time on the web design tools (JS/CSS/HTML), which led to me coding this website!
        | I've also been digging down below those high level tools, and trying to learn Computer Science fundamentals with lower level networking tools like Wireshark, and lower level languages like C.  
      p.about__p
        | It is my intention to maintain about three Computer Engineering projects at any given time. 
        | The first project - will be high-level, probably utilizing a scripting language like Python. 
        | The second project will be mid-level. For example, using languages like C to build binary parsers or my own small, unique coding langauge.
        | The last project will be low-level. On the level of hardware, ideally. For this type of project I intend to be breadboarding, coding in assembly, using my Arduino, etc.
