if articles
  include ../../mixins/_articleCard

  section.feat-articles#feat-articles
    .section-container.pt-lg.pb-lg
      .title-container.mb-md
        span.section-title featured articles
      .feat-articles__content
        if articles[0]
          +articleCard(articles[0], '', lazyLoad=true)
        if articles[1]
          .row-divider
          +articleCard(articles[1], '', lazyLoad=true)
      .feat-articles__btn
        a.btn.btn--blue(href='/articles') See All Articles &rarr;
