include ../../mixins/_iconLink

section.hero#hero
  .hero__content
    .hero__name Michael Michelotti
    .hero__links
      +iconLink('hero', 'https://github.com/michael-michelotti/', 'github')
      +iconLink('hero', 'https://docs.google.com/document/d/15DyAmPyQAJdAErT6t9CYetkSjEr99UV_9mo41ps13sY/edit?usp=sharing', 'resume')
      +iconLink('hero', 'https://www.linkedin.com/in/michael-michelotti-880456174/', 'linkedin')
