include ../../mixins/_iconLink

section.hero#hero
  .hero__content
    .hero__name Michael Michelotti
    .hero__links
      +iconLink('hero', githubLink, 'github')
      +iconLink('hero', resumeLink, 'resume')
      +iconLink('hero', linkedinLink, 'linkedin')
