include ../../mixins/_skill

section.skills#skills
  .section-title.skills__title.pt-lg.mb-md skills 
  .skills__levels.pb-lg
    .skill-grid
      .skill-grid__name Expert
      .skill-grid__grid
        +skill('networking', 'Networking CCNA')
        +skill('excel', 'Excel Specialist')
        +skill('word', 'Word Specialist')
        +skill('python', 'Python')
    .card-divider.card-divider--white
    .skill-grid
      .skill-grid__name Intermediate
      .skill-grid__grid
        +skill('javascript', 'JavaScript')
        +skill('html', 'HTML5')
        +skill('css', 'CSS3')
        +skill('sql', 'SQL')
    .card-divider.card-divider--white
    .skill-grid
      .skill-grid__name Comfortable
      .skill-grid__grid
        +skill('c', 'C')
        +skill('cpp', 'C++')
        +skill('security', 'Security')
        +skill('arduino', 'Arduino')
