include ../../mixins/_skill

section.skills#skills.lazy-img(data-src='skills-backdrop.jpg')
  .title-container.pt-lg.mb-md 
    span.section-title.section-title--white skills
  .skills__levels.pb-lg
    .skill-grid
      .skill-grid__name Main Focus
      .skill-grid__grid
        +skill('c', 'C')
        +skill('arm', 'Cortex-M MCUs')
        +skill('stm', 'STM Boards')
        +skill('usb', 'USB')
    .col-divider.col-divider--white
    .skill-grid
      .skill-grid__name For Fun
      .skill-grid__grid
        +skill('python', 'Python')
        +skill('javascript', 'JavaScript')
        +skill('html', 'HTML5')
        +skill('css', 'CSS3')
    .col-divider.col-divider--white
    .skill-grid
      .skill-grid__name Sometimes
      .skill-grid__grid
        +skill('sql', 'SQL')
        +skill('docker', 'Docker')
        +skill('wireshark', 'Wireshark')
        +skill('arduino', 'Arduino')
