extends ../base

include ../mixins/_articleCard

block content
  section.articles
    .section-container.pt-lg
      .section-title.articles__title all articles
      .search-bar.mb-md
        input.search-bar__input(id="searchInput", type="text", placeholder="Type to search...")
        select.search-bar__select(id="categoryFilter")
          option(value="", selected)
            | All categories
          each category in uniqueCategories
            option(value=category) #{category}
      .articles__content.pb-lg
        each article, i in articles
          +articleCard(article, '', lazyLoad=false)
          if i < articles.length - 1
            .row-divider

block scripts
  script(src='https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js')
  script(src='/js/allArticles.js')
