extends ../base

block content
  include landing/_hero
  include landing/_about
  include landing/_featProjects
  include landing/_featArticles
  include landing/_skills

block scripts
  script(src='/js/index.js')
