extends ../base

block content
  .content-form
    .title-container.mb-md
      span.section-title create an article
    form(id="postArticleForm").content-form__form
      label.content-form__label(for="name")
        | Title: 
        input.content-form__input(type="text", id="name", name="name")

      label.content-form__label(for="summaryPoints")
        | Summary Points (separate with newline):
        textarea.content-form__input(id="summaryPoints", name="summaryPoints", rows=3)

      label.content-form__label(for="body")
        | Article Body:
        input.content-form__input(type="file", id="body", name="body")

      label.content-form__label(for="categories")
        | Categories (separate with newline):
        textarea.content-form__input(id="categories", name="categories", rows=3)

      label.content-form__label(for="tags")
        | Tags (separate with newline):
        textarea.content-form__input(id="tags", name="tags", rows=3)

      label.content-form__label(for="cardImage")
        | Card image (520x520px):
        input.content-form__input(type="file", id="cardImage", name="cardImage")

      label.content-form__label(for="cardImageAlt")
        | Card image alt text:
        input.content-form__input(type="text", id="cardImageAlt", name="cardImageAlt")

      label.content-form__label(for="coverImage")
        | Cover image (1440x603px):
        input.content-form__input(type="file", id="coverImage", name="coverImage")

      label.content-form__label(for="coverImageAlt")
        | Cover image alt text:
        input.content-form__input(type="text", id="coverImageAlt", name="coverImageAlt")

      label.content-form__label(for="coverImageCaption")
        | Cover image caption:
        input.content-form__input(type="text", id="coverImageCaption", name="coverImageCaption")

      label.content-form__label(for="authors")
        | Authors (separate by newline):
        textarea.content-form__input(id="authors", name="authors", rows=3)

      label.content-form__label(for="featured")
        | Featured:
      select(id="featured" name="featured")
        option(value="no") No
        option(value="yes") Yes
      
      label.content-form__label(for="hidden")
        | Hidden:
      select(id="hidden" name="hidden")
        option(value="no") No
        option(value="yes") Yes

      a.btn.btn--blue(href="#").content-form__btn.mt-md Post

block scripts 
  script(src='/js/articleForms.js')
