.hero {
  height: 100vh;
  position: relative;
  @include overlaidBackdrop(0.4, '/img/hero-backdrop.jpg');

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include center;
  }

  &__name {
    font-size: 7.2rem;
    font-weight: $font-thin;
    color: $color-white;
  }

  &__links {
    display: flex;
    gap: 10rem;
  }

  &__link-icon {
    @include iconLarge;
    fill: $color-white;
  }
}
